<h1>New Message</h1>

{% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <form action="/messages/create" method="post">
        <div>
            <label for="message">Enter Message</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="creator">From</label>
            <!-- <small class="form-text text-muted"></small> -->
            <input type="text" name="creator1">
            <input type="checkbox" id="Anonymous" name="creator2" value="Anonymous">Anonymous</input>
        </div>
        <input type="submit" value="Create">
    </form>
</div>