.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size:45pt
}

.note {
    max-width: 35%;
    max-height: 80%;
    background-color: #fbf0e5;
    padding: 20px;
}

.buttons {
    margin: 30px ;
}
a {
    margin: 0px 30px;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #fbedd2,#fae0be, #b8dafd, #47bffe, #3da2e8);
    overflow: hidden;
    background-size: 400% 400%;
    animation: gradient-bg 15s ease infinite;
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(https://raw.githubusercontent.com/animationbro/css-wave/master/wave.png);
    background-size: 1000px 200px;
}

section .wave.water {
    animation: animate 25s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.water:nth-child(2) {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.water:nth-child(3) {
    animation: animate 30s cubic-bezier(.55, .5, .45, .5) infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 15px;
}
section .wave.water:nth-child(4) {
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 2000px;
    }
}
@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -2000px;
    }
}